body {
    font-size: 16px;
}
.hero {

    min-height: 100vh;
    min-width: 100%;
    top: 0;
    bottom: 0;

}

/* background color on top of bg image*/
/* navbar */
.navbar {
    background-color: rgba(0,0,0,0.3);
}
.navbar a {
    color: white;
    font-size: 25px;
}
#city{
    width: 100%;
}
.weather-container{
    padding: 0;
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}
.left-content{
    position: relative;
    min-height: 400px;
    margin: 0;
    padding: 0;
}
.left-content img{
    position: absolute;
    opacity: 0.3;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    width: 100%;
    height: 100%;
}
.text-content{
    padding: 20px;
}
.temperature{
    font-size: 2rem;
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.temp-right{
    width: 100%;
    float: right;
    margin-right: 40px;
    font-size: 3rem;
}
.right-description{
    font-size: 2rem;
    padding-bottom: 30px;
}
.bottom-content{
    padding: 20px;
    font-size: 2rem;
}
.next-days{
    margin-top: 80px;
}
.next-days-cells {
    margin-top: 40px;
}
.description{
    font-size: 2rem;
}

/* openweathermap */
.owm-01d:before {content: "\f00d";}
.owm-02d:before {content: "\f002";}
.owm-03d:before {content: "\f041";}
.owm-04d:before {content: "\f013";}
.owm-09d:before {content: "\f01a";}
.owm-10d:before {content: "\f008";}
.owm-11d:before {content: "\f01e";}/*f010*/
.owm-13d:before {content: "\f01b";}
.owm-50d:before {content: "\f003";}
.owm-01n:before {content: "\f02e";}
.owm-02n:before {content: "\f086";}
.owm-03n:before {content: "\f041";}
.owm-04n:before {content: "\f013";}
.owm-09n:before {content: "\f01a";}
.owm-10n:before {content: "\f028";}
.owm-11n:before {content: "\f01e";}/*f02d*/
.owm-13n:before {content: "\f01b";}
.owm-50n:before {content: "\f04a";}

